.container {
  min-height: 100vh;
  width: 100vw;
  height: auto;
  padding-top: 100px;
  background: var(--bg-dk0);
}
.flexCore{
  width: 100vw;
  height: auto;
  background: var(--bk);
  position: absolute;
  top:0;
  left:0;
}
.half1{
  position: absolute;
  width: 100vw;
  height: 105vh;
  top: 0px;
  right: 0;
  clip-path: polygon(47.5% 50%, 55% 0, 100% 0, 100% 100%, 45% 100%, 52.5% 50%);
  background-image: url(/wrenches.jpeg);
  background-size: cover;
}
.half0{
  position: absolute;
  width: 100vw;
  height: 105vh;
  top: 0px;
  left: 0;
  clip-path: polygon(55% 0, 47.5% 50%, 52.5% 50%, 45% 100%, 0 100%, 0 0);
  background-image: url(/spark.jpeg);
  background-size: cover;
  background-position-x: -45vw;
}
.cover{
  background: var(--op-3);
  width:95vw;
  height:100vh;
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;
  padding-top: 110px;
}
.indFlex{
  display: flex;
  width: 90vw;
  margin: 0 5vw;
  height: calc(100vh - 200px);
}
.indFlex > *{
  flex: 1;
}

.pard{
  margin: 30px 0;
}
.bar{
  border-radius: 10px;
  width: 300px;
  background: linear-gradient(90deg, var(--f-6), var(--f-3));
  height: 10px;
  margin: 20px 0;
}
.hd{
  text-align: left;
  font-size: 4em;
}
.hd2{
  text-align: left;
  font-size: 3em;
}

@media(max-width: 650px){
  .pard{
    margin: 20px 0;
  }
  .hd{
    font-size: 3em;
  }
  .hd2{
    font-size: 2em;
  }
}
@media(max-width: 520px){
  .hd{
    font-size: 2em;
  }
  .hd2{
    font-size: 1.5em;
  }
  .pard{
    font-size: 16px;
  }
}
.responsiveGrid {
  min-height: 100px;
  max-width: 900px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform:translatex(-50%);
}
.childImg{
  border-radius: 10px;
  width: 200px;
  margin: 10px 0;
  transition: 0.25s;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.childImg:hover{
  cursor: pointer;
  transform: scale(2);
}